body {
	color: #333333;
	font-family: "Arial",Helvetica,serif;
	font-size: 18px;
	line-height: 150%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
h2 {
	font-size: 24px;
	padding-bottom: 20px;
}
.container {
	background-color: #e1e3e4;
	margin-top: 30px;
	margin: 0 auto;
	width: 1024px;
}
/* HEADER */
#header {
	background-color: white;
	height: 60px;
	position: relative;
}
.main{
	background-color: white;
	font-size: 14px;
	margin-top: 20px;
	text-transform: uppercase;
	width: 950px;
}
.name_tag{
	background-color: #3c948b;
	float: left;
	margin-left: 80px;
	width: 280px;
}
.name_tag_text{
	color: #eee;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
}
/* NAV */

.nav {
  display: inline;
  float: right;
  line-height: 48px;
  position: relative;
  width: 300px;
}
.menu {
  float: left;
}
.main_nav {
  background-color: #f4f4f4;
  list-style-type: none;
}
.main_list {
  float: left;
}
/* unvisited link */
li a{
  color: #202121;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
/* mouse over link */
li a:hover {
  background-color: #3c948b;
  color:white;
}
/* selected link */
li a:active {
    color: #e1e3e4;
}
/* active link */
.active {
    background-color: #3c948b;
    color:white;
}
#main-bio {
	background-color: white;
	clear: both;
	float: left;
	margin-left: 80px;
	padding: 20px;
	width: 500px;
}
.main-bio-text{
	margin-bottom: 10px;
}
#bio-image {
	float: left;
	height: 200px;
	margin-right: 20px;
	width: 170px;
}
.bio-link {
	color: #0261a0 !important;
  line-height: 16px;
  text-decoration: none !important;
}
#contact-info {
	background-color: white;
	margin-right: 115px;
	padding: 20px;
	float: right;
	width: 20%;
}
/* PORTFOLIO */
#content {
    background: #fff url("./assets/images/content-bg.png") repeat-y scroll 0 0;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px;
    width: 50%;
}
.portfolio-item {
    background: #eee none repeat scroll 0 0;
    float: left;
    margin: 0 7px 14px;
    padding: 4px;
    text-align: center;
    width: 182px;
 }
 #content .portfolio-item p.btn {
    margin: 0;
    background-color: #3c948b;
}
 #content .portfolio-item a.image_text {
    margin: 0;
    color: #fff;
    text-decoration: none;
}
/* FOOTER */
#footer {
    position: relative;
    clear: both;
    margin-top: 1px;
    color: #444;
    overflow: hidden;
    padding-top:20px;
}
#footer .box-featured {
	border-top: 3px solid #3C948B;
    padding: 20px 0 0 0;
    background: #202121;
    border-bottom: 1px solid #333;
    overflow: hidden;
}
#footer .box-featured h4 {
    clear: both;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
#footer .box-featured h4 span {
    color: #3C948B;
}
